<header class="site-header">
  <div class="top-banner" role="banner">
    <div class="wrapper">
      <a href="https://inf.run/9x4sw" target="_blank" style="text-decoration: underline; font-size: 0.9em;">Spring Boot × TDD "입문부터 실전까지 정확하게"</a>
    </div>
  </div>

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">
              {%- if my_page.title == "AutoParams" -%}
                <img src="/assets/AutoParams.svg" alt="AutoParams" style="height:1.5em; vertical-align:middle; margin-right:0.3em;">
              {%- endif -%}
              {{ my_page.title | escape }}
            </a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
