---
---

@import "minima";

.top-banner {
  background: linear-gradient(to right, #5ca035, #6db33f, #7bc148); // Green gradient based on #6db33f
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  transition: background 0.5s ease;
}

.top-banner:hover {
  background: linear-gradient(to right, #629e3b, #75c144, #81cb4e); // Slightly lighter gradient for hover effect
}

.top-banner a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 1.1em;
  display: block;
  width: 100%;
}

.top-banner a:hover {
  color: #ffffff;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: static !important;
    float: none !important;
    clear: both !important;
    margin-top: 15px !important;
    width: 100% !important;
    text-align: left !important;
    z-index: auto !important;
    border: none !important;
    background-color: transparent !important;
    right: auto !important;
    top: auto !important;
  }

  .site-nav .trigger {
    display: block !important;
    padding-bottom: 0 !important;
  }

  .site-nav .page-link {
    display: inline-block !important;
    margin-left: 0 !important;
    margin-right: 20px !important;
    padding: 0 !important;
  }
}
